<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StepCompass"
        tools:targetApi="31">
        <service
            android:name=".CompassService.StepService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".Util.CompassBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.stepupdates"></action>
            </intent-filter>
        </receiver>

        <service
            android:name=".CompassService.CompassService2"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Activities.CompassActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="APP_SPECIFIC_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.CompassActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.StepActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"/>
</manifest>